{% extends 'base.html' %}
{% load i18n %}

{% block header %}
<style>
  #input-message {
    resize: none;
  }
</style>
{% endblock %}

{% block content %}
{% include 'breadcrubs.html' with title=_("Chatbot - Thread") %}
{# Back to previous page #}
<div class="row px-2">
  <div class="col">
    <div class="row my-2">
      <div class="col-auto me-auto align-self-center">
        {{ thread }}
      </div>
      <div class="col-auto">
        <a href="{% url 'chatbot:detail_assistant' pk=thread.assistant.pk %}" class="btn btn-secondary w-100 custom-boxshadow-effect">
          {% trans "Back" %}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center p-2 flex-grow-1 mb-2">
  <div class="col d-flex flex-column">
    <div class="d-flex flex-column gap-0 row-gap-2 flex-grow-1">
      <div class="d-flex flex-column flex-grow-1 gap-0 row-gap-2" id="chats" data-tokenurl="{{ token_url }}" data-streamurl="{{ stream_url }}"
           data-err="{% trans 'Error: Cannot use template element in this browser.' %}">
      </div>
      <textarea id="input-message" rows="4" placepholder="{% trans 'Write your message here.' %}" class="border border-2 w-100"></textarea>
      <button type="button" id="send-message" class="btn btn-outline-primary w-100 custom-boxshadow-effect">
        <span id="is-ready">{% trans "Send" %}</span>
        <div id="is-sending" class="d-none">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {% trans "Sending..." %}
        </div>
      </button>
    </div>
  </div>
</div>

<template id="chat-message-template">
  <div class="row">
    <div class="col-12 col-md-1  speaker-type fw-bold"></div>
    <div class="col-12 col-md-11 chat-message font-monospace"></div>
  </div>
</template>

<div class="modal" id="error-message-modal" tabindex="-1" aria-labelledby="error-message-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5" id="error-message-label">{% trans "Error" %}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger" id="error-message"></div>
      <div class="modal-footer">
        <div class="row w-100 g-2">
          <div class="col-12">
            <button type="button" class="btn btn-secondary w-100 custom-boxshadow-effect" data-bs-dismiss="modal">
              {% trans "Close" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/13.0.0/marked.min.js"
        integrity="sha512-NlNyxz9EmQt8NOeczUXqghpfmRIHlCfE5qRKftWYA44tf8sveWGZhSHxVtGtyHlmqdt89f66F26aWi+kTDz8RQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
(function () {
  const generateUUID = (version=4) => {
    version = (Math.abs(version) || 4).toString().substr(0, 1);

    const rotateString = (text, num=1) => {
      const arr = text.split('');

      for (let idx = 0; idx < num; idx++) {
        const last = arr.pop();
        arr.unshift(last);
      }

      return arr.join('');
    };
    // Create pseudo uuid
    const buf = Array.from(crypto.getRandomValues(new Uint32Array(6))).map((val, idx) => {
      const paddedText = val.toString(16).padStart(8, '0');
      const shiftedText = rotateString(paddedText, 2);
      let ret = shiftedText;
      // format: xxxxxxxx-xxxx-Vxxx-Rxxx-xxxxxxxxxxxx
      //            A       B    C    D      E
      //   idx:     0       1    2    3     4,5
      switch (idx) {
        // In the case of pattern A
        case 0:
          ret = shiftedText;
          break;
        // In the case of pattern B
        case 1:
          ret = shiftedText.substr(1, 4);
          break;
        // In the case of pattern C
        case 2:
          ret = `${version}${shiftedText.substr(2, 3)}`;
          break;
        // In the case of pattern D
        case 3:
          {
            const firstValue = parseInt(shiftedText.substr(2, 1)) & 0xff;
            const reserved = (firstValue | 0x80).toString();
            ret = `${reserved}${shiftedText.substr(3, 3)}`;
          }
          break;
        // In the case of pattern E
        case 4:
        case 5:
          ret = shiftedText.substr(1, 6);
          break;
        default:
          break;
      }

      return ret;
    });
    const lastText = buf.pop();
    const joinedText = buf.join('-') + lastText;
    const pseudoUUID = joinedText.toLowerCase();

    return pseudoUUID;
  };
  const getCookie = (name) => {
    let cookieValue = null;

    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');

      for (const target of cookies) {
        const cookie = target.trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }

    return cookieValue;
  };
  // Get JSON Web token
  const getToken = async (url) => {
    const response = await fetch(url, {method: 'GET'});
    const data = await response.json();
    const token = data.token;

    return token;
  };
  // Send message to server
  const submit = async (url, token, form, callback) => {
    const csrftoken = getCookie('csrftoken');
    // Call fetch function and execute post-process
    const response = await fetch(url, {
      method: 'POST',
      body: form,
      headers: {
        'X-CSRFToken': csrftoken,
        Authorization: `JWT ${token}`,
      },
    });
    // Get reader
    const reader = response.body.pipeThrough(new TextDecoderStream()).getReader();
    // =========
    // main loop
    // =========
    let isRunning = (!reader) ? false : true;
    let restData = '';

    while (isRunning) {
      const { done, value } = await reader.read();
      // Check if all streaming data is sent
      if (done) {
        isRunning = false;
        continue;
      }
      const lines = restData + value;
      const jsons = lines.split('\n\n').map((line) => line.trim()).filter(sentence => sentence);
      restData = '';
      // Sequential process
      for (const json of jsons) {
        try {
          const chunk = JSON.parse(json);
          callback(chunk);
        }
        catch (err) {
          restData += json;
        }
      }
    }

    return;
  };

  const init = () => {
    let _g_runID = null;
    const _g_msgIdStore = {};
    const template = document.querySelector('#chat-message-template');
    const chats = document.querySelector('#chats');
    const inputMessage = document.querySelector('#input-message');
    const sendBtn = document.querySelector('#send-message');
    const errMsgModal = new bootstrap.Modal('#error-message-modal');
    const isReadyField = document.querySelector('#is-ready');
    const isSending = document.querySelector('#is-sending');
    const tokenUrl = chats.dataset.tokenurl;
    const streamUrl = chats.dataset.streamurl;
    // Update scroll position
    const updateScrollPosition = () => {
      const element = document.documentElement;
      const bottom = element.scrollHeight - element.clientHeight;
      window.scroll(0, bottom);
    };
    // Define callback function
    const callback = (chunk) => {
      const setChatMessage = (content, msgType, msgID, node) => {
        const pattern = Object.freeze({
          HUMAN: 'You',
          AI: 'AI',
          FUNCTION: 'Func',
          TOOL: 'Tool',
          ANONYMOUS: 'Who?',
        });
        // Set message data
        const speakerType = node.querySelector('.speaker-type');
        const chatMessage = node.querySelector('.chat-message');
        const targetType = pattern[msgType];
        speakerType.textContent = (targetType ? targetType : '');
        chatMessage.innerHTML = content;
        chatMessage.id = msgID;

        return node;
      };
      const addChatMessage = (msg, isStreaming=false) => {
        // Get message data
        const content = marked.parse((msg?.content) || '');
        const msgType = msg?.type;
        const msgID = msg?.id;
        // Create clone node
        if (isStreaming) {
          const target = document.querySelector(`#${msgID}`);
          // In the case of receiving additional chunk data
          if (target) {
            const newContent = target.innerHTML + content;
            setChatMessage(newContent, msgType, msgID, target.parentNode);
          }
          // In the case of receiving new message or receiving metadata
          else {
            const clone = template.content.cloneNode(true);
            const node = setChatMessage('', msgType, msgID, clone);
            chats.appendChild(node);
          }
        }
        else {
          const clone = template.content.cloneNode(true);
          const node = setChatMessage(content, msgType, msgID, clone);
          chats.appendChild(node);
        }
      };
      const convert2array = (outputs) => ((outputs) ? (Array.isArray(outputs) ? outputs : [outputs]) : []);
      // ================
      // = main process =
      // ================
      const {event, data} = chunk;

      switch (event) {
        // In the case of metadata
        case 'metadata':
          {
            const { run_id } = JSON.parse(data);
            const msg = {
              content: '',
              msgType: 'none',
              msgID: run_id,
            };
            addChatMessage(msg, true);
            _g_runID = run_id;
          }
          break;
        // In the case of receiving stream data
        case 'stream':
          {
            const messages = convert2array(data);
            // Add received messages
            for (const msg of messages) {
              // In the case of not existing message
              if (msg?.id && !_g_msgIdStore[msg.id]) {
                addChatMessage(msg, true);
                _g_msgIdStore[msg.id] = true;
              }
            }
          }
          break;
        // In the case of end statement
        case 'end':
          {
            if (_g_runID) {
              _g_msgIdStore[_g_runID] = true;
            }
            _g_runID = null;
          }
          break;
        // In the case of chat history or response messages
        case 'history':
        case 'data':
          {
            const messages = convert2array(data);
            // Add received messages
            for (const msg of messages) {
              // In the case of not existing message
              if (msg?.id && !_g_msgIdStore[msg.id]) {
                addChatMessage(msg, false);
                _g_msgIdStore[msg.id] = true;
              }
            }
          }
          break;
        // In the case of error message
        case 'error':
          {
            const { error } = JSON.parse(data);
            const element = document.querySelector('#error-message');
            element.textContent = error;
            _g_runID = null;
            errMsgModal.show();
          }
          break;

        default:
          break;
      }
    };
    const createForm = (requestType, data) => {
      const form = new FormData();
      form.append('thread_pk', {{ thread.pk }});
      form.append('request_type', requestType);
      form.append('message', JSON.stringify(data));

      return form;
    };
    // ==============
    // Initialization
    // ==============
    // Add event listener
    inputMessage.addEventListener('keyup', (event) => {
      if ((event.key === 'Enter') && event.ctrlKey) {
        sendBtn.click();
      }
    });
    sendBtn.addEventListener('click', async (event) => {
      const message = inputMessage.value.trim();
      // Check if message is empty
      if (!message) {
        return;
      }
      // Define sent message
      const input = (() => {
        const role = 'human';
        const uuid = generateUUID();

        return [
          {
            content: message,
            additional_kwargs: {},
            type: role,
            example: false,
            id: `${role}-${uuid}`,
          },
        ];
      })();
      // Update button status
      const colorLists = ['text-bg-light', 'opacity-25'];
      const eraseClass = 'd-none';
      sendBtn.disabled = true;
      inputMessage.readOnly = true;
      inputMessage.classList.add(...colorLists);
      isReadyField.classList.add(eraseClass);
      isSending.classList.remove(eraseClass);
      // Send chat meesage
      const form = createForm('chat_message', input);
      const token = await getToken(tokenUrl);
      await submit(streamUrl, token, form, callback);
      // Update button status
      sendBtn.disabled = false;
      inputMessage.readOnly = false;
      inputMessage.classList.remove(...colorLists);
      isReadyField.classList.remove(eraseClass);
      isSending.classList.add(eraseClass);
      // Delete old message
      inputMessage.value = '';
      updateScrollPosition();
    });
    // Get chat history
    (async () => {
      const form = createForm('chat_history', {});
      const token = await getToken(tokenUrl);
      await submit(streamUrl, token, form, callback);
      updateScrollPosition();

      return;
    })();
  };

  document.addEventListener('DOMContentLoaded', () => {
    // Validation
    if ('content' in document.createElement('template')) {
      init();
    }
    else {
      const chats = document.querySelector('#chats');
      const err = chats.dataset.err;
      chats.innerHTML = `<p class="text-danger">${err}</p>`;
    }
  });
})();
</script>
{% endblock %}
