{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrubs.html' with title=_("RAG - Index") %}
<div class="row justify-content-center">
  <div class="col">
  {% if not user.is_authenticated %}
    <p>{% trans "Please login from above link." %}</p>
  {% else %}
    <a href="{% url 'chatbot:index' %}" class="card text-decoration-none">
      <div class="card-body">
        <p class="h3 card-title">{% trans "Chatbot" %}</p>
        <p class="card-text">{% trans "Chatbot by using RAG" %}</p>
      </div>
    </a>
  {% endif %}
  </div>
</div>
{% endblock %}
